<% unless comment.archived? %>
  <div class="custom-container">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Commenter: <%= comment.commenter %></h5>
        <p class="card-text">Comment: <%= comment.body %></p>
        <div class="text-center">
          <%= link_to "Destroy Comment", [comment.article, comment], data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
