<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center mb-4">Edit Article</h1>
      <%= render "form", article: @article %>
    </div>
  </div>
</div>
